@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.parent-logo2 {
    display: flex;
    margin-top: 3px;
    margin-left: 20px;
    position: relative;
    
}

.child12 {
    font-size: 40px;
    margin-left: 30px;
    color: #0d74F5;

}

.child22 {
    margin-top: 3px;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
}